if(!session.auth)
  a(href="/") Home
  br
  .text Login first please
else
  .text Your script id is: #{scriptId}
  br
  -for site in sites
    h2 #{site}
    a(href="/getUserFile/#{site}/#{site}.user.js") Install #{site} Greasemonkey script.
    br
    a(href="/getUserFile/#{site}/get") View #{site} Greasemonkey script.